#root {
  max-width: 1280px;
  width: 440px;
  height: 100%;
  margin: 0 auto;
  overflow-y: auto;
  padding: 1rem;
  text-align: center;
  background: radial-gradient(
    220.65% 226.55% at 50% 206.41%,
    #bd00ff 0%,
    #db75ff 41.29%,
    #f3d1ff 54.42%,
    #fff 77.51%,
    #fff 100%
  );
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.mantine-Image-root {
  margin: 0 !important;
}

.headerNav {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 12px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}
